
.logo{color:#00BFFF}
#nav-bar li.active a{
color:#00BFFF;
}
.social i{  background: #00BFFF;}
.clock_body i{  border: 4px solid #00BFFF;  color:#00BFFF;}
.single_service{  border:1px solid #00BFFF}
.title h1 {
  color: #00BFFF;
}
.team{
border:1px solid #00BFFF;
}
.con-btn{
  background: #00BFFF;
  }