.logo{color:#32CD32}
#nav-bar li.active a{
color:#32CD32;
}
.social i{  background: #32CD32;}
.clock_body i{  border: 4px solid #32CD32;  color:#32CD32;}
.single_service{  border:1px solid #32CD32}
.title h1 {
  color: #32CD32;
}
.team{
border:1px solid #32CD32;
}
.con-btn{
  background: #32CD32;
}