.logo{color:#ff6900}
#nav-bar li.active a{
color:#ff6900;
}
.social i{  background: #ff6900;}
.clock_body i{  border: 4px solid #ff6900;  color:#ff6900;}
.single_service{  border:1px solid #ff6900}
.title h1 {
  color: #ff6900;
}
.team{
border:1px solid #ff6900;
}
.con-btn{
  background: #ff6900;
  }