/*		Tablet Layout: sm  */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}




/*		Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
#bs-example-navbar-collapse-1 {background:rgba(0,0,0,0.8);}
#nav-bar li {border-bottom:1px solid rgba(255,255,255,0.1);display:block;text-align:center}
.countdown_item{width:100%;}

#home h1 {
  font-size: 1.3em;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
}
.social a {
display: inline-block;
}
.social {
padding:0;
width: 192px;
background:none;
  bottom: 10px;
  left: 5px;
}
.countdown_item {
  padding-bottom: 15px;
}  
.countdown span {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

}
.countdown li.bell_separator {
  font-size: 15px;
  margin: 4px;
  padding-top: 1px;
}
.social i {
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 32px;
  margin: 2px;
}
.navbar{  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;}
.sidebar{position:relative; }

}
/*		Wide Mobile Layout: 480px.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#home h1 {
    font-size: 2.2em;

}
.countdown li.bell_separator {
  font-size: 16px;
  margin: 10px;
}
.countdown span {
  font-size: 2rem;
  font-weight: 300;
  line-height: 45px;
}
.single_service{
margin-left:35px;
margin-right:35px;
}

}
