.logo{color:#DC143C}
#nav-bar li.active a{
color:#DC143C;
}
.social i{  background: #DC143C;}
.clock_body i{  border: 4px solid #DC143C;  color:#DC143C;}
.single_service{  border:1px solid #DC143C}
.title h1 {
  color: #DC143C;
}
.team{
border:1px solid #DC143C;
}
.con-btn{
  background: #32CD32;
  }