
.logo{color:#6633FF}
#nav-bar li.active a{
color:#6633FF;
}
.social i{  background: #6633FF;}
.clock_body i{  border: 4px solid #6633FF;  color:#6633FF;}
.single_service{  border:1px solid #6633FF}
.title h1 {
  color: #6633FF;
}
.team{
border:1px solid #6633FF;
}
.con-btn{
  background: #6633FF;
  }