
.logo{color:#FF6347}
#nav-bar li.active a{
color:#FF6347;
}
.social i{  background: #FF6347;}
.clock_body i{  border: 4px solid #FF6347;  color:#FF6347;}
.single_service{  border:1px solid #FF6347}
.title h1 {
  color: #FF6347;
}
.team{
border:1px solid #FF6347;
}
.con-btn{
  background: #FF6347;
  }